<!-- <form [formGroup]="formBook">
  <div *ngFor="let value of keys">
    <label [for]="value">{{  valueUpper(value) }}:</label>
    <br />
    <input type="text" [formControlName]="value" [id]="value" />
    <br />
  </div>

  <button type="button" (click)="clickOnSubmit()">Submit</button>
  <button type="button" id="cancel" (click)="goBack()">Cancel</button>
</form> -->

<div *ngFor="let value of keys">
<mat-form-field appearance="fill" [formGroup]="formBook">
  <mat-label>{{ valueUpper(value) }}</mat-label>
  <input matInput [formControlName]="value" [id]="value">
</mat-form-field>
</div>

<button mat-flat-button color="primary" (click)="clickOnSubmit()">Submit</button>
<button mat-stroked-button color="primary" id="cancel" (click)="goBack()">Cancel</button>
