<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToAddBook()">
      <mat-icon>book</mat-icon>
      <span>Add new Book</span>
    </button>
    <button mat-menu-item (click)="goToAddLibrary()">
      <mat-icon>domain</mat-icon>
      <span>Add new Library</span>
    </button>
  </mat-menu>
  <span>Bem vindo(a)!</span>
  <span class="spacer"></span>
    <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<div *ngFor="let book of books" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center stretch" class="row-example">
  <mat-card class="card">
  <mat-card-title-group>
    <mat-card-title>{{ book.name }}</mat-card-title>
    <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>{{ book.description }}</mat-card-content>
  <mat-card-actions  align="end">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editBook(book.id)">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deleteBook(book.id)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
</div>
